Options +FollowSymLinks
RewriteEngine on
RewriteBase /

<FilesMatch "\.(inc)$">
    Order deny,allow
    Deny from all
</FilesMatch>

# All front-end files, redirect to the public folder or CDN
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|html|htm|phtml|ico|css|js|swf)$ ~livingstonefultang/public/$0 [L,NC]

RewriteRule ^(?:applications|config|framework)\b.* ~livingstonefultang/index.php/$0 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ ~livingstonefultang/index.php/$1 [L,QSA]