
textarea{overflow:auto; font-size: 13px}
textarea:focus, textarea:hover{color: inherit; }
fieldset{border:1px solid;}
fieldset:last-child{margin-bottom: 0px}
legend{font-size:116%;padding:0 1em}
.ie6 legend,.ie7 legend{margin-left:-7px}
.ie8 legend,.ie7 legend{margin-bottom:30px}
.ie8 legend{top:-25px}
.ie7 legend{top:-35px}
form dt{text-align:right;width:150px}
form dd{left:165px;position:relative;top:-24px}
label.required{font-weight: bold}
.indenter{
    background: url("../img/indenter-bg.png") no-repeat scroll 0 50% transparent;
    border-left: 1px dotted #CCC;
    float: left;
    margin: 0 2px;
    text-indent: -99999em;
    width: 17px;
}

input,textarea,select{-moz-border-radius:1px;border:1px solid;border-radius:1px}
button, .button{overflow:visible;width:auto}
form span.valid-side-note,span.invalid-side-note{background-position:left center;background-repeat:no-repeat;margin-left:10px;padding:0 0 0 25px}
form span.valid-side-note{background-image:url(../img/icons/icon_success.png)}
form span.invalid-side-note{background-image:url(../img/icons/icon_error.png)}
form fieldset{border:none;box-sizing:border-box;position:relative;}
form .legend{font-size:14px;font-weight:700;margin-bottom:8px;width:100%}
form .legend p{border-bottom:solid 1px #eee;color:#777;display:block;font-size:11px;font-weight:400;margin-bottom:20px;padding-bottom:10px}
form .small{color:#777;display:inline;font-size:11px;font-weight:400;text-align:left;width:140px}
form legend{color:#333;font-size:16px;font-weight:700;margin:0;padding:0 0 20px}
/*form li{clear:both;display:block;margin:0 0 2px;position:relative}*/
form label{color:#555;display:block;font-size:13px;margin:5px 0 5px}
form label.error{color:red}
form p{color:#999;font-size:12px;line-height:18px;margin:0 0 12px}
form span{color:#999}

input, textarea, select {
    -moz-box-shadow: 0px 1px 4px 0px #CCC inset;
    -o-box-shadow: 0px 1px 4px 0px #CCC inset;
    -webkit-box-shadow: 0px 1px 4px 0px #CCC inset;
    border: 1px solid #AAA;box-sizing: border-box; padding: 0.5em; margin: 0 0 5px;
    border-bottom-color: #CCC;
    border-left-color: #CCC;
    box-sizing:border-box; -moz-box-sizing:border-box; -khtml-box-sizing:border-box; -webkit-box-sizing:border-box;

    /*    -webkit-border-radius: 0.5em;*/
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: 1px solid #058cf5;
    box-sizing:border-box; -moz-box-sizing:border-box; -khtml-box-sizing:border-box; -webkit-box-sizing:border-box;

}

textarea {
    min-height: 50px;
}

select {
    -webkit-appearance: button;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 10px;
    -webkit-user-select: none;
    background-image: url("../img/select.png");
        -moz-box-shadow: 0px 1px 4px 0px #CCC inset;
    -o-box-shadow: 0px 1px 4px 0px #CCC inset;
    -webkit-box-shadow: 0px 1px 4px 0px #CCC inset; cursor: pointer;
    background-position: center right;
    background-repeat: no-repeat;
    color: #555;
    font-size: inherit;
    margin: 0 0 5px;
    overflow: hidden;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
}
select option{background:#FFF;}

input[type=text] {}

input[type=submit] {
    width: auto;
    padding: 0.25em 1em;
    line-height: 1.5em;
}

input[type='checkbox'] {
  -webkit-box-shadow: inset 0 1px 2px white,
                      0 1px 2px rgba(0, 0, 0, .2);
  -webkit-appearance: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 3px;
  background: -webkit-linear-gradient(#fafafa, #dcdcdc);
  border: 1px solid #a0a0a0;
  display: inline-block;
  height: 16px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  top: 3px;
  vertical-align: baseline;
  width: 16px;
}

input[type='checkbox']:disabled {
  opacity: .75;
}

input[type='checkbox']:not(:disabled):not(:active):hover {
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type='checkbox']:not(:disabled):active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  background: -webkit-linear-gradient(#f0f0f0, #bebebe);
  border: 1px solid #808080;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

input[type='checkbox']:checked::before {
  color: #808080;
  content: url('../img/checkmark.png');
  font-size: 13px;  /* Explicitly set the font size so that the positioning
                       of the checkmark is correct. */
  height: 16px;
  left: 2px;
  position: absolute; top: 0;
}

input[type='radio'] {
  -webkit-box-shadow: inset 0 1px 2px white,
                      0 1px 2px rgba(0, 0, 0, .2);
  -webkit-appearance: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 3px;
  -webkit-transition: border 500ms;
  background: -webkit-linear-gradient(#fafafa, #dcdcdc);
  border-radius: 100%;
  border: 1px solid #a0a0a0;
  display: inline-block;
  height: 15px;
  margin-bottom: 0;
  position: relative;
  top: 3px;
  vertical-align: baseline;
  width: 15px;
}

input[type='radio']:disabled {
  opacity: .75;
}

input[type='radio']:not(:disabled):not(:active):hover {
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type='radio']:not(:disabled):active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  background: -webkit-linear-gradient(#f0f0f0, #bebebe);
  border: 1px solid #808080;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

input[type='radio']:checked::before {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  -webkit-margin-start: 4px;
  background: #808080;
  border-radius: 10px;
  content: '';
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  height: 5px;
  left: 0;
  margin-top: 4px;
  opacity: 1;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 5px;
}

html[dir='rtl'] input[type='radio']:checked::before {
  right: 0;
}

input[type='radio']:active:checked::before {
  background: #606060;
}

/* These rules are copied from button.css */
input[type='checkbox']:not(.custom-appearance):focus,
input[type='radio']:not(.custom-appearance):focus {
  -webkit-box-shadow: inset 0 1px 2px white,
      0 1px 2px rgba(0, 0, 0, .2),
      0 0 1px #c0c0c0,
      0 0 1px #c0c0c0,
      0 0 1px #c0c0c0;
  -webkit-transition: border-color 200ms;
  border-color: #4080fa;
  outline: none;
}

label:hover > input[type=checkbox]:disabled ~ span,
label:hover > input[type=radio]:disabled ~ span {
  color: #888;
}

label:hover > input[type=checkbox]:not(:disabled) ~ span,
label:hover > input[type=radio]:not(:disabled) ~ span {
  color: #222;
}



/* Buttons */
button:not(.custom-appearance),.button,
input[type='button']:not(.custom-appearance),
input[type='submit']:not(.custom-appearance) {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border: 1px solid #aaa;
    color: #444;
    font-size: inherit;
    margin-bottom: 0;
    min-width: 4em;
    padding: 0.5em 12px;
    text-decoration: none;display: inline-block;
}

button:not(.custom-appearance):hover,.button:hover,
input[type='button']:not(.custom-appearance):hover,
input[type='submit']:not(.custom-appearance):hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    border-color: #999;
    color: #222;
}

button:not(.custom-appearance):active,
input[type='button']:not(.custom-appearance):active,
input[type='submit']:not(.custom-appearance):active,.button:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
}

button[disabled]:not(.custom-appearance),.button[disabled]:focus,
input[type='button'][disabled]:not(.custom-appearance),
input[type='submit'][disabled]:not(.custom-appearance),
button[disabled]:not(.custom-appearance):hover,
input[type='button'][disabled]:not(.custom-appearance):hover,
input[type='submit'][disabled]:not(.custom-appearance):hover {
    -webkit-box-shadow: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border-color: #aaa;
    color: #888;
}

button:not(.custom-appearance):focus,
input[type='submit']:not(.custom-appearance):focus,.button:focus{
    -webkit-box-shadow: inset 0 1px 2px white,
        0 1px 2px rgba(0, 0, 0, .2),
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0;
    -webkit-transition: border-color 200ms;
    /* We use border color because it follows the border radius (unlike outline).
     * This is particularly noticeable on mac. */
    border-color: #4080fa;
    outline: none;
}


