.grid {
	margin: 0 auto;
}

.row {
	width: 100%;
	max-width: @maxWidth;
	margin: 0;
	overflow: hidden;
}

.whole { width: 100%; max-width: @maxWidth;}
.span1 { .column(1); }
.span2 { .column(2); }
.span3 { .column(3); }
.span4 { .column(4); }
.span5 { .column(5); }
.span6 { .column(6); }
.span7 { .column(7); }
.span8 { .column(8); }
.span9 { .column(9); }
.span10 { .column(10); }
.span11 { .column(11); }
.span12 { .column(12); }
.span13 { .column(13); }
.span14 { .column(14); }
.span15 { .column(15); }
.span16 { .column(16); }


// Offset column options
.row {
  > .offset1   { .offset(1); }
  > .offset2   { .offset(2); }
  > .offset3   { .offset(3); }
  > .offset4   { .offset(4); }
  > .offset5   { .offset(5); }
  > .offset6   { .offset(6); }
  > .offset7   { .offset(7); }
  > .offset8   { .offset(8); }
  > .offset9   { .offset(9); }
  > .offset10  { .offset(10); }
  > .offset11  { .offset(11); }
  > .offset12  { .offset(12); }
}

// Unique column sizes for 16-column grid
.col{ 
	display:inline-block;
	&.size-320{ width: 320px }
	&.size-480{ width: 480px }
	&.size-640{ width: 640px }
	&.size-800{ width: 800px }
	&.size-940{ width: 940px }
	&.size-1024{ width: 1024px }
	&.size-1142{ width: 1152px }
	&.size-1280{ width: 1280px }
 }

.row {
  > .offset-one-third   { margin-left: 340px; }
  > .offset-two-thirds  { margin-left: 540px; }
}


.col:last-child,
.last { margin-right: 0px; }


td {
  vertical-align: top;
}
// BASELINE STYLES
// ---------------

table {
  width: 100%;
  margin-bottom: @baseline;
  padding: 0;
  font-size: @basefont;
  border-collapse: collapse;
  th,
  td {
    padding: 10px 10px 9px;
    line-height: @baseline;
    text-align: left;
  }
  th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
  }
  td {
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  // When scoped to row, fix th in tbody
  tbody th {
    border-top: 1px solid #ddd;
    vertical-align: top;
  }
}


// CONDENSED VERSION
// -----------------
.condensed-table {
  th,
  td {
    padding: 5px 5px 4px;
  }
}


// BORDERED VERSION
// ----------------

.bordered-table {
  border: 1px solid #ddd;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapse; /* IE7, collapse table to remove spacing */
  //.border-radius(4px);
  th + th,
  td + td,
  th + td {
    border-left: 1px solid #ddd;
  }
  thead tr:first-child th:first-child,
  tbody tr:first-child td:first-child {
    //.border-radius(4px 0 0 0);
  }
  thead tr:first-child th:last-child,
  tbody tr:first-child td:last-child {
    //.border-radius(0 4px 0 0);
  }
  tbody tr:last-child td:first-child {
    //.border-radius(0 0 0 4px);
  }
  tbody tr:last-child td:last-child {
    //.border-radius(0 0 4px 0);
  }
}


// TABLE CELL SIZES
// ----------------

.tableColumns(@columnSpan: 1) {
  width: ((@ColWidth - @gutter) * @columnSpan) + ((@ColWidth - @gutter) * (@columnSpan - 1));
}
table {
  // Default columns
  .span1     { .column(1); }
  .span2     { .column(2); }
  .span3     { .column(3); }
  .span4     { .column(4); }
  .span5     { .column(5); }
  .span6     { .column(6); }
  .span7     { .column(7); }
  .span8     { .column(8); }
  .span9     { .column(9); }
  .span10    { .column(10); }
  .span11    { .column(11); }
  .span12    { .column(12); }
  .span13    { .column(13); }
  .span14    { .column(14); }
  .span15    { .column(15); }
  .span16    { .column(16); }
}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.zebra-striped {
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: #f9f9f9;
    }
    tr:hover td,
    tr:hover th {
      background-color: #f5f5f5;
    }
  }
}

table {
  // Tablesorting styles w/ jQuery plugin
  .header {
    cursor: pointer;
    &:after {
      content: "";
      float: right;
      margin-top: 7px;
      border-width: 0 4px 4px;
      border-style: solid;
      border-color: #000 transparent;
      visibility: hidden;
    }
  }
  // Style the sorted column headers (THs)
  .headerSortUp,
  .headerSortDown {
    background-color: rgba(141,192,219,.25);
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
  }
  // Style the ascending (reverse alphabetical) column header
  .header:hover {
    &:after {
      visibility:visible;
    }
  }
  // Style the descending (alphabetical) column header
  .headerSortDown,
  .headerSortDown:hover {
    &:after {
      visibility:visible;
      .opacity(60);
    }
  }
  // Style the ascending (reverse alphabetical) column header
  .headerSortUp {
    &:after {
      border-bottom: none;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #000;
      visibility:visible;
      .box-shadow(none); //can't add boxshadow to downward facing arrow :(
      .opacity(60);
    }
  }
  // Blue Table Headings
  .blue {
    color: @blue;
    border-bottom-color: @blue;
  }
  .headerSortUp.blue,
  .headerSortDown.blue {
    background-color: lighten(@blue, 40%);
  }
  // Green Table Headings
  .green {
    color: @green;
    border-bottom-color: @green;
  }
  .headerSortUp.green,
  .headerSortDown.green {
    background-color: lighten(@green, 40%);
  }
  // Red Table Headings
  .red {
    color: @red;
    border-bottom-color: @red;
  }
  .headerSortUp.red,
  .headerSortDown.red {
    background-color: lighten(@red, 50%);
  }
  // Yellow Table Headings
  .yellow {
    color: @yellow;
    border-bottom-color: @yellow;
  }
  .headerSortUp.yellow,
  .headerSortDown.yellow {
    background-color: lighten(@yellow, 40%);
  }
  // Orange Table Headings
  .orange {
    color: @orange;
    border-bottom-color: @orange;
  }
  .headerSortUp.orange,
  .headerSortDown.orange {
    background-color: lighten(@orange, 40%);
  }
  // Purple Table Headings
  .purple {
    color: @purple;
    border-bottom-color: @purple;
  }
  .headerSortUp.purple,
  .headerSortDown.purple {
    background-color: lighten(@purple, 40%);
  }
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }